@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&display=swap');


html{
  background-color: #009999;
}

body{
  max-width: 800px;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #111;
  background-color: #009999;
  animation: fadein 2s;
  
}

h1{
  font-family: 'Source Sans Pro', sans-serif; 
}

h2, h3{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  
  font-weight: 300; 
  font-size: 5em;
  text-align: center;
  color: #333;
  padding: 0em;
  margin-bottom: 1em;
  
}

h3{
  
  font-weight: 900;
  padding-top: 1.5em;
}

h4{
  font-weight: 900;
}

.list{
  padding: 3em 8em;
  animation: fadein 2s;
  position: relative;
  z-index: 0;
}


a, a:visited {
  color: #000;
  text-decoration: underline; 
  line-height: 1.6em;
}

a:hover {
  color: white;
}

.bio{
  padding: 1.8em 0em 3em 2em;
  float: right;
  width: 40vw;
  z-index: 99999;
  position: relative;
}

.bioTitle{
  display: none;
}

.contact{
  text-align: center;
  margin-bottom: 3em;
}
.contact h3{
  font-size: 1.8em;
}

.contact a{
  text-decoration: underline;
}

.fab, .fas{
  vertical-align: middle;
  background-color: #333;
  border-radius: 50%;
  padding: 0.7em;
  margin: 0.8em;
}

a > .fab, a > .fas{
  color: #eee;
  font-size: 1.2em;
}

.fab:hover, .fas:hover{
  background-color: blue;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
}

@media only screen and (max-device-width: 480px) {

        h1{
          margin-right: -0.7em;
          padding-bottom: 0.4em;
        }
        h1.name{
          text-align: center;
          margin: 2em 0 0 0;
          padding: 0;
          font-size: 2em;
        }
        .list{
          padding: 0em 3em;
        }
        .bio{
          padding: 1em 0;
          float: none;
          text-align: left;
          width: 100%;
          margin: 0 auto;
        }

        .bioTitle{
          display: block;
        }
    }







<! -- this is the responsive gallery code starting now-->


div.gallery {
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 49.99999%;
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





<! -- this is the menu bar code starting now-->



.topnav {
  overflow: auto;
  background-color: white;

}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #999;
  color: white;
}

.topnav a.active {
  background-color: #666;
  color: white;
}

.topnav .icon {
  display: none;
}
